<!DOCTYPE html>
<html>
<body>
<form method="POST">
    <h>Hi! Please sign up <h>
    <br>                
    <label for="characters">Choose your character:</label>
    <select name="character">
        <option value="user">user</option>
        <option value="driver">driver</option>
    </select>
    <br>
    <p>name <input type="text" name="name"></p>
    <br>
    <p>password <input type="text" name="password"></p>
    <br>
    <p>phone number <input type="text" name="phone_number"></p>
    <br>
    <p><input type="submit" value="sign up"></p>
</form>
</body>
</html>
